body {
  background-color: #cadefc;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #005689;
  text-align: center;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 8px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.prompt {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 16px;
  line-height: 10px;
  color: gray;
}

.submit-button {
  margin-left: 10px;
  background: #005689;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 18px;
  font-size: 16px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #005689;
  box-shadow: 8px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

a {
  color: #005689;
}

footer {
  text-align: center;
  font-size: 13px;
}
